@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/nunito_Sans/NunitoSans-ExtraLight.ttf');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/nunito_Sans/NunitoSans-Light.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/nunito_Sans/NunitoSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/nunito_Sans/NunitoSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/nunito_Sans/NunitoSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/nunito_Sans/NunitoSans-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/nunito_Sans/NunitoSans-Black.ttf');
    font-style: normal;
    font-weight: 900;
}
